/Spectral_Text_Files
/VCSEL_Text_Files
.idea/

__pycache__/
Spectral_TestData/
VCSEL_TestData/
PL_TextParse_GUI.spec
build/
dist/
build.bat
2018-06-20_NewStringParsingIdea_From_Ashwini.py
tests.py
TextParseFunctions.py
/venv-PLDataTools